.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -15px;
}

.item {
  display: inline-flex;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  margin: 15px;
  width: calc(100 / 2 * 30px) / 2;

  a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    text-decoration: none;
    color: #fff;

    &:hover {
      transform: scale(1.3);
    }
  }

  img {
    max-width: inherit;
    margin-bottom: 20px;
  }
}

.title {
  text-align: center;
  color: inherit;
}
